@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  min-width: 320px;
  min-height: 100vh;
}

.border-gradient {
  border-left: 10px solid; /* Largura da borda */
  border-right: 10px solid; /* Largura da borda */
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, rgb(43, 42, 42), rgb(136, 247, 219)); /* Gradiente */
}
